<app-get-layout>

<form (submit)="setCadastro($event, f)" #f>
	<section id="cadastrar-usuarios">
		<app-get-title title="Usuários • Cadastrar"></app-get-title>

		<div class="box">
			<div class="header">
				<h4>Tipo de Usuário</h4>
			</div>

			<div class="tipo-de-cliente">
				<app-use-input [data]="usuario.type" [class]="usuario.type.col"></app-use-input>
			</div>

			<div class="formulario row">
				<ng-container *ngIf="usuario[usuario.type.selected]">
					<ng-container *ngFor="let items of usuario.type.options">
						<ng-container *ngIf="items.value == usuario.type.selected && usuario[usuario.type.selected]">
							<app-use-input *ngFor="let input of usuario[usuario.type.selected]" [data]="input" [class]="input.col"></app-use-input>
						</ng-container>
					</ng-container>
				</ng-container>
			</div>

		</div>

		<div class="btns-group">
			<button mat-raised-button disabled routeLink="/">Cancelar</button>
			<button mat-raised-button color="primary" button="submit">Cadastrar</button>
		</div>
	</section>
</form>

</app-get-layout>