@import '../../../assets/scss/config';

.mobile {
    position: fixed;
    top: 30px;
    left: 1em;
    z-index: 99;
    transform: translateY(-50%);
    transition: all 100ms ease-out;

    &[data-open="true"] {
      left: inherit;
      right: 1em;
    }

    @media (min-width: 767px) { display: none; }
}

.mat-nav-list {
  position: sticky;
  top: 60px;
  z-index: 2;
  max-width: 260px;
  width: 100%;
  background-color: color('white');
  min-height: calc( 100vh - 60px );
  box-shadow: 0 2px 6px rgba( color('black'), .15 );
  transition: all 100ms ease-out;
  overflow-y: auto;

  @media (max-width: 767px) {
    position: fixed;
    top: 0; height: 100vh;
    width: 100%;
    left: 0;
    z-index: 1050;

    &[data-open="true"] {
      + .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba( color('black'), .75 );
        z-index: 1049;
        cursor: pointer;
      }
    }

    &:not([data-open="true"]) {
      left: -300px;
    }
  }

  .menu-links {
    position: relative;
    z-index: 2;
  }

  a {


    &:not(.active) {
      + .sub-links { display: none; }
    }
  	&.active {
  		position: relative;
  		z-index: 3;
  		cursor: pointer;

  		&::before {
  			content: '';
  			position: absolute;
  			top: 0; bottom: 0;
  			left: 0; width: 6px;
  			background-color: color('azul');
  			z-index: -1;
  		}

      + .sub-links {
        .mat-list-item {
            padding-left: 1rem;
            font-size: 14px;
        }

        a::before {
          width: 0;
        }
      }
  	}

    
  }
}

