/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

* { margin: 0; box-sizing: border-box; }
img { max-width: 100%; border: 0; }

.flex {
	-webkit-display: flex;
	display: flex;
}

.flex:not(.nowrap) {
	flex-wrap: wrap;
}

.flex .box {
	flex: 0 0 auto;
}

.flex .box-auto {
	flex: 1 1 0;
}

.mat-checkbox-inner-container {
	/*background-color: #94969A;*/
}

input, textarea, select {
	outline: 0;
	resize: none;
}

.mat-checkbox-inner-container .mat-checkbox-frame {
	border-width: 1px;
}

.mat-checkbox-checked .mat-checkbox-background {
	background-color: #476776 !important;
}

.mat-menu-panel.nav-dropdown {
    /*transform: translateY(56px);*/
    /*transition: all 100ms ease-out;*/
}

.mat-menu-panel.nav-dropdown .mat-menu-content {
	padding: 0;
}

/* Login error configuration */
.mat-snack-bar-container.login-error {
	background-color: #bf1f1f;
	color: #f9fcf5;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.mat-snack-bar-container.login-error .mat-simple-snackbar-action {
	color: #bf1f1f;
	background-color: #f9fcf5;
}

/* Login success configuration */
.mat-snack-bar-container.login-success {
	background-color: #458c27;
	color: #f9fcf5;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.mat-snack-bar-container.login-success .mat-simple-snackbar-action {
	color: #458c27;
	background-color: #f9fcf5;
}

.mat-form-field-prefix, .mat-form-field-suffix{
	padding: 0 .5em;
}

.mat-form-field-can-float.no-title .mat-form-field-infix {
	padding-top: .5em;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
	background-color: #FFF;
}

.mat-form-field-appearance-fill.no-title .mat-form-field-flex {
	padding: .75em !important;
}

.mat-form-field-appearance-fill.input-no-title .mat-form-field-flex {
	padding-top: 0 !important;
}

.mat-form-field-appearance-fill.no-title .mat-form-field-infix,
.mat-form-field-appearance-fill.input-no-title .mat-form-field-infix {
	padding: .5em;
	border-top: 0;
}

.mat-form-field-appearance-fill.no-title .mat-select-arrow-wrapper {
	transform: translateY(0);
}

.mat-form-field-underline { display: none !important; }

.custom-checkbox .mat-radio-button .mat-radio-label .mat-radio-container { display: none !important; }

.custom-checkbox .mat-radio-label-content {
    padding-left: 0;
}